body {
    
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);

}

.backgroundColor {

    width:100%;
    height: 700px;
    background-color: #0400BC;
}

.userinterfaceBackground {
    background-color: #0400BC;
    height: 700px;
    width: 100%;
    color: white;
}

nav {
    background-color: #171717;
    height: 33px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 10px;
  }

.navigation li {
    margin: 30px;
    font-size: 14px;
}

a{
    color: white;
    text-decoration: none;

}

a:hover{
    color: yellow;
}

.links {
    height: 240px;
    width:9vh;
    background-color: yellow;
    position: absolute;
    top: 100px;
    right: 0;
}

.imageColumn{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; /* Center vertically */
    justify-content: center;

}


.my-image-class {
    height: 40px;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 15px;
 
 
}

.classOne{
    height: 45px;
    width: auto;
 margin-left: 1px;
 margin-top: 50px;


}


.mainHeader {
    color: white;
    margin-left: 40px;
    display:flex;
    margin-right: 100px;
}



.float-container {
    display: flex;
   flex-direction: column; 
   }
  .float-child {  
    margin-left: 60px;
    
}
.myName {
    font-size: 65px;
    color: white;
}

.myInfoContainer {
  
    margin-top: 150px;
  
    
}
.myInfo {
    margin-top: -19px;
    line-height: 2;
    color: white;
}

.meContainer {
    margin-top: 30px;
  
   
  }
.first-text {
    line-height: 1.5;
    color:yellow;
    text-align: right;
    
}

.front {
    font-size: 25px;
    color: white;
}

.skillsWord{
color:rgb(255, 255, 255);
font-size: 50px;
text-align: center;
margin-top: -120px;
display: flex;
justify-content: center;
}

  .skinnyContainer {
    height: 7px;
    width: 250px;
    background-color: yellow;
    border-radius: 100px;
    
  }

  .skills {
    text-align: center;
    margin-top: -150px;
     display: flex;
    flex-wrap: wrap;
    
    
  }

  h2{
    font-size: 40px;
  }

  .skillsContainer {
    height: 100px;
    width: 1200px;
    margin: 100px auto;
    background-color: yellow;
    margin-top: 140px;
    display: flex;
    flex-wrap: wrap;
   

  }

  .allImages {
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    display: flex;
    flex-wrap: wrap;
    
 }


  .mySkillInfo{
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 3;
   margin-top: -20px;
  }

  .middle {
    text-align: center;
    color: #0400BC;
  }



  .boxes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 70px;

   
}

.FrontEnd {
    text-align: center;
    font-size: 50px;
    margin-top: 120px;
    color: rgb(255, 255, 255);
}




.interface {
    text-align: center;
    font-size: 50px;
    margin-top: 120px;
    color: rgb(255, 255, 255);
}

.boxContainerDirection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    
    margin-top: 60px;
}


h3{
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}




.label {
    color: white;
    margin: 5px;
}

.labelThree {
    color: white;
    margin: 5px; 
}


.box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .containerr {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }





img {
    height: 60px;
    width: auto; 
    margin: 25px;
}

.pic{
    height: 70px;
    width: auto; 
    margin: 25px;
}

.picTwo:hover {
    height: 70px;
    width: auto; 
    margin: 25px;
    margin-top: -30px;
    
}

.pic:hover {
    height: 80px;
    width: auto; 
    margin: 25px;
    margin-top: -30px;
    
}






.contactMe {
    text-align: center;
    font-size: 30px;
    margin-top: 120px;
}

.contactContainer {
    height: 100vh; 
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
   
}

form {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 500px;
    max-width: 600px;
    margin-top: -400px

}

input[type="text"],
textarea,
 .submitButton{
  width: 100%;
    margin:7px;
}


textarea{
    margin-top: 10px;
    background-color: #0400BC;
    color: white;
    
}


label {
    color: black;
    font-size: 13px;
    margin-left: 8px;
}

.submitButton {
    background-color: black;
    color: white;
    margin-top: 10px;
    border-style: none;
    height: 30px;
}

.frontendHeader {
    height: 100vh; 
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    
}

.frontendHeader, h1 {
   flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: -130px;
}




.frontendHeaderThree, h1 {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}



.full-screen-image{
    height: 100px;
    width:100px
}


  
  

.square {
   
    height: 300px;
    width: 300px;
    background-color: white;
    margin: 30px;
    border: 1px solid #474747; 

    

}


.square-image {
    height: 250px;
    width: auto;
   
  
  
}

.squareThree {
    height: 300px;
    width: 300px;
    background-color: rgb(17, 17, 17);
    margin: 30px;
    border: 1.5px solid #161616; 
}

.label {
    color: black;;
}



.labelThree{
    color: white;
}

.big-image {
    height: 500px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}


.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    overflow: auto;
  }
  
  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .modal-open {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    

  }
  
  .modal-image {
    height: 700px;
    width: auto;
   
  }
  
 
.bottomPage {
    
    height: 500px;
    width: 100%;
    background-color:#0400BC;
    justify-content: center;
    display: flex;
    margin-top: 200px;
    flex-direction: column;
    
}

.bottom{
color: white;
font-size: 70px;
text-align: center;
margin-top: -100px;

}

.footer {
    color: white;
    text-align: center;
    line-height: 2;
    font-weight:100;
    margin-top: -10px;
}

.userInterfaceInfo {
    text-align: center;
    justify-content: center;
    font-weight: 100;
    line-height: 2;
}

.nike {
    height: 200px;
    width: auto;
}

.allSkillsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.allSkills {
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
}