body {
    background-color: black;
    font-family: 'Inter', sans-serif;
    color:aliceblue
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    25% { background-position: 100% 50%; }
    50% { background-position: 0% 50%; }
    75% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  h1 {
    background: linear-gradient(to right, rgb(170, 172, 255), blue, rgb(65, 160, 255), rgb(58, 65, 188));
    background-size: 200% auto;
    animation: gradientAnimation 10s infinite linear;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 130px;
    margin-top: 50px;
  }

h6 {
    color: #4A4A4A;
    font-size: 40px;
    margin-top: -100px;
    margin-left: 600px;
    font-weight: lighter;
    
}

.mainContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 100px;
   
}
.countdownContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}

.container {
    margin: auto 55px ;
    text-align: center;
    margin-top: -70px;
   

}

h4 {
    font-size: 60px;
    font-weight: light;
}

h5 {
    font-size: 25px;
    margin-top: -50px;
    font-weight: lighter;
}

@media only screen and (max-width: 375px) {
    /* iPhone 13 screen width is 375px */
    h6 {
      margin-left: 0;
    }
  
    .container {
      margin: auto;
    }
    
    h1 {
      font-size: 100px;
    }
    
    h4 {
      font-size: 40px;
    }
    
    h5 {
      font-size: 20px;
    }
  }